@page
@model Project_test.Pages.ServiceViewModel
@{
}
<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                 <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygallery" class="rounded-4" data-type="image" href="#">
                        <img id="large-frame-image" style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="data:image;base64,@Convert.ToBase64String(Model.Imagess[0])" />
                    </a>
                </div> 
                <div class="d-flex justify-content-center mb-3">
                    @if (Model.Imagess != null)
                    {
                        @for (int i = 0; i < Model.Imagess.Count; i++)
                        {

                            <a data-fslightbox="mygallery" class="border mx-1 rounded-2 item-thumb" data-type="image" href="#">
                                <img width="60" height="60" class="rounded-2" src="data:image;base64,@Convert.ToBase64String(Model.Imagess[i])" onclick="changeLargeFrameImage(this.src)" />
                            </a>

                        }
                    }
                </div>
            </aside>
            

            <script>
                function changeLargeFrameImage(src) {
                    var largeFrameImage = document.getElementById("large-frame-image");
                    largeFrameImage.src = src;
                }
            </script>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Name
                    </h4>

                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>

                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                @Model.Rating
                            </span>
                        </div>

                        <span class="text-success ms-2"> In stock</span>
                    </div>

                </div>

                <div class="mb-3">
                    <span class="h5">$@Model.Price</span>
                </div>

                <p>
                    @Model.Description
                </p>

                <div class="row">
                    <dt class="col-3">Released by:</dt>
                    <dd class="col-9"><a href="/FreelancerProfile?FreelancerID=@Model.FreelancerID">@Model.FreelancerName</a></dd>
                    
                </div>

                <hr />

                <div class="row mb-4">
                    <!-- col.// -->
                <form method="post" asp-page-handler="AddToCart">

                    <input type="hidden" name="serviceid" value="@Model.ServiceID" />
                    <button type="submit" class="btn btn-primary shadow-0">
                        <i class="me-1 fa fa-shopping-basket"></i> Add to cart
                    </button>
                </form>
        </div>

                </div>
        </main>
    </div>
    </div>
</section>
<!-- content -->
