@page
@model Project_test.Pages.ShopCartModel
@{
}
<style>
    .pro-qtyJO input {
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: #6f6f6f;
        width: 50px;
        border: none;
        background: #f5f5f5;
        text-align: center;
    }

    #logoutButton {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 10px 17px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: right; /* Add this line */
    }

    .pro-qtyJO .qtybtnJO {
        width: 35px;
        font-size: 16px;
        color: #6f6f6f;
        cursor: pointer;
        display: inline-block;
    }


    .pro-qtyJO .qtybtnJO {
        width: 30px;
        height: 30px;
        background: #f5f5f5;
        border: none;
        color: #6f6f6f;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .pro-qtyJO .qtybtnJO:hover {
            background-color: #e0e0e0;
        }

    .pro-qtyJO input {
        height: 30px;
        width: 50px;
        font-size: 16px;
        color: #6f6f6f;
        border: none;
        background: #f5f5f5;
        text-align: center;
        display: inline-block;
    }

    .pro-qtyJO .qtybtnJO.plus {
        margin-left: 5px;
    }

    .icon_close {
        border: none;
        background: none; /* Optional: Remove background color */
        cursor: pointer; /* Optional: Add cursor style on hover */
    }
</style>
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Products.Any())
                            {
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <h5>@product.Name</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            $@product.Price.00
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <form method="post">
                                                    <input type="hidden" name="updatedProductId" id="updatedProductId"value="@product.ProductID" />
                                                    <input type="hidden" name="action" id="action" />
                                                    <div class="pro-qtyJO">
                                                        <button type="button" class="qtybtnJO minus" onclick="setAction('@product.ProductID', 'decrease')">-</button>
                                                        <input type="text" name="updatedQuantity" value="@product.Quantity" class="quantity-input" readonly />
                                                        <button type="button" class="qtybtnJO plus" onclick="setAction('@product.ProductID', 'increase')">+</button>
                                                    </div>
                                                    <button type="submit" style="display:none;"></button>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            $@(product.Price * product.Quantity).00
                                        </td>
                                        <form method="post">
                                        <td class="shoping__cart__item__close">
                                            <input type="hidden" name="ItemIdToDelete" value="@product.ProductID" />
                                            <button asp-page-handler="Deletep" class="icon_close"></button>
                                        </td>
                                        </form>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">
                                        Your cart has no Products.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <section class="shoping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="shoping__product">Services</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Services.Any())
                                    {
                                        @foreach (var Service in Model.Services)
                                        {
                                            <tr>
                                                <td class="shoping__cart__item">
                                                    <h5>@Service.Name</h5>
                                                </td>
                                                <td class="shoping__cart__total">
                                                    $@Service.Price.00
                                                </td>

                                                <form method="post">
                                                <td class="shoping__cart__item__close">
                                                    <input type="hidden" name="ItemIdToDelete" value="@Service.ServiceID" />
                                                    <button asp-page-handler="Deletes" class="icon_close"></button>
                                                </td>
                                                </form>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10">
                                                Your cart has no Services.
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a href="/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shoping__checkout">
                            <h5>Cart Total</h5>
                            <ul>
                                <li>Total <span>$@Model.Total.00</span></li>
                            </ul>
                            <form method="post">
                                <button asp-page-handler="Checkout" class="primary-btn">PROCEED TO CHECKOUT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shoping Cart Section End -->

        <script>
            function setAction(productId, action) {
                document.getElementById('updatedProductId').value = productId;
                document.getElementById('action').value = action;
                document.querySelector('form button[type="submit"]').click();
            }
        </script>